<header>
  <header class="drawer-navbar " role="banner">
    <div class="drawer-container">
      <div class="drawer-navbar-header">
        <a class="drawer-brand" href="#">Drawer</a>
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu drawer-menu--right">
            <%= link_to "Deviseサンプル", root_path, class: 'navbar-brand' %>
            <div id="Navber">
              <ul class="navbar-nav">
              </div>
            </ul>
          </div>
        </nav>
      </header>
