<div class="top-container">
  <div class="d-sm-none">
    <a class="sub-link mr-2" href="#">試合</a>
    <a class="sub-link" href="#">選手紹介</a>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mr-5">
    <h1 class="top-title">Combat Stories</h1>
    <div class="d-none d-sm-block">
      <a class="sub-link mr-4" href="#">試合</a>
      <a class="sub-link" href="#">選手紹介</a>
    </div>
  </div>
  <div id="top-carousel-fade" class="carousel slide carousel-fade" data-ride="carousel" data-interval=4000>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('top/top2.jpg', alt: "画像の説明1", class: "top-img") %>
        <p class="red-stroke">RIZIN × K-1</p>
      </div>
      <div class="carousel-item">
        <%= image_tag('top/top3.jpeg', alt: "画像の説明2", class: "top-img") %>
        <p class="lime-stroke">RIZIN × K-1</p>
      </div>
      <div class="carousel-item">
        <%= image_tag('top/top1.jpg', alt: "画像の説明3", class: "top-img top-img-3") %>
        <p class="yellow-stroke">RIZIN × K-1</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#top-carousel-fade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#top-carousel-fade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="message-box">
    <p>このページでは格闘技を通じて自分の可能性や目標を見つけて欲しいという思いで作りました。</p>
    <ul>
      <li>
        <p>何で格闘技を進めるのか？</p>
      </li>
    </ul>
    きっかけは３年くらい前に仕事や生活面で上手くいっていなくて落ちている時がありまして、そこでたまたま YouTube で K-1 を見て衝撃が走り３時間ぐらいぶっ通しで過去の試合全て見てしまったんですよね。</p>
  <p>そこからは自分もこの人たちのように熱く目標に向かって頑張らないと損だなと気付いて、少しづつ人生が楽しくなってきたんですよね。</p>
  <ul>
    <li>
      <p>変わるきっかけとは？</p>
    </li>
  </ul>
  <p>皆さんにも好きなアーティストや映画、アニメ、本などで感動、目標、夢、こうなりたいという感情になった人もいると思います。僕はそれが格闘技だったんですよね。</p>
  <p>だから、今気持ちが落ちてたり、悲しい時、何もやる気が出ない人にこそ見て欲しい、
    きっと自然とパワーが貰えると思います。</p>
  <p>ここでは僕が変われたきっかけの試合や見て損はしない試合を中心に配信していきます。</p>
  <p>皆さんに最高の時間をお届けできればと思います。</p>
  <p>見た後には今何も目標がない人にやる気や目標を持って、少しでも今から頑張ろうと思えるきっかけを提供できると思います。</p>
</p>
</div>
</div>
