<h2>RIZIN</h2>
<% @rizin_players.each do |player| %>
  <p>
    <%= image_tag player.image.url %>
  </p>
  <p>
    <%= player.birthplace %>
  </p>
<% end %>
<h2>K-1</h2>
<% @k_1_players .each do |player| %>
  <p>
    <%= player.name %>
    <%= player.birthplace %>
  </p>
<% end %>
