/*
 *= require_tree ./autoloads/
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

$main-color: rgb(7, 95, 153);
$k-1-color: rgb(233, 175, 17);

.drawer-hamburger {
  background-color: $main-color;

  &:hover {
    background-color: $main-color;
  }
}

// 横幅

.devise-width {
  max-width: 768px;
}

// アラート

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

@mixin textStroke($strokeColor) {
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: $strokeColor;
  -webkit-text-fill-color: $main-color;
}

// トップページ

.top-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  .top-title {
    color: $main-color;
    font-size: 1.5rem;
  }

  .top-img {
    width: 100%;
    height: auto;
  }

  .top-img-1 {
    // filter: brightness(170%);
  }

  .sub-link {
    color: $main-color;
  }

  #top-carousel-fade {
    p {
      position: absolute;
      font-family: 'Playball', cursive;

      margin: 0;
      padding: 0;
      z-index: 1;

      bottom: 5px;
      left: 5px;
      font-size: 30px;

      @media screen and (min-width: 570px) {
        bottom: 3%;
        left: 55px;
        font-size: 75px;
      }
    }

    p.yellow-stroke {
      @include textStroke(white)
    }

    p.red-stroke {
      @include textStroke (white)
    }

    p.lime-stroke {
      @include textStroke (white)
    }
  }

  .message-box {
    // padding: 0.5em 1em;
    max-width: 400px;
    margin: 2em auto;
    // background: #FFF;
    // border: solid 3px $main-color;
    /*線*/
    // border-radius: 10px;

    /*角の丸み*/
    // p {
    //   margin: 0;
    //   padding: 0;
    // }
  }


}